<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>


<header>

<div class="container">
<nav class="navbar fixed-top navbar-expand-lg navbar-dark " id="mainNav" >



  <div class="collapse navbar-collapse w-100 order-1 order-md-0" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <!-- <li class="nav-item active" data-toggle="collapse" data-target=".navbar-collapse.show">
        <a href="assets/Anshul-Mahajan-Resume.pdf" class="nav-link" download>Resume
          <span class="sr-only">(current)</span></a>
      </li> -->
      <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
        <a class="nav-link" href="#intro2">My-Work</a>
      </li>
      <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
        <a class="nav-link" href="#intro3">Contact-Me</a>
      </li>

    </ul>
  </div>

  <div class="order-0">
    <a class="navbar-brand mx-auto" routerLink="/home" data-toggle="collapse" data-target=".navbar-collapse.show">
      Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
    data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
    aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>

  <div class="collapse navbar-collapse w-100 order-3 order-md-0" id="navbarNav">
    <ul class="navbar-nav ml-auto">
    <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
   <!-- <a target="_blank" href="https://github.com/AnshulMahajan10" ><img style="max-width:100px; margin-top: -7px;" src="assets/img/GitHub_Logo_White.png"></a> -->
   <a class="nav-link" target="_blank" href="https://www.facebook.com/pg/enjoygivinggifts/posts/" >
     Facebook</a>
   </li>
   <!-- <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
  <a class="nav-link" target="_blank" href="https://www.linkedin.com/in/anshul-mahajan-47404b113/" >
    Linkedin</a>
  </li> -->
 </ul>
  </div>

</nav>
</div>

</header>



 <section id="intro1">

  <div class="container-fluid">

        <div class="row" class="text-center">

          <h1> Sonia Califorie </h1>
          <h1> Embroidery, Arts and Craft </h1>
          <br>
         <h2> Classes : Provided in house or in Chantilly
             </h2>
          <br>
      <h2> Location: Chantilly, Virginia  </h2>

      </div>

 </div>
  </section>



 <section id="intro2">

  <div class="container-fluid">
       <h1 class="text-uppercase text-center"> Projects </h1>
      <div>
  <br>
        <div class="row">


         <div class = "col-lg-4 col-md-6 col-sm-8 col-xs-8 ">
           <mat-card class="example-card">

           <!-- <h2 class="text-center" style="color:rgb(222, 79, 33)" font-style="italic">
             BALANCED HEALTH
         </h2> -->



             <img mat-card-image src="assets/img/Lotus_flower_(978659).jpg"  class="img" >
             <!-- <mat-card-title style="color:rgb(222, 79, 33)">
              <p class="text-center" >
                <b style="font-size:22px"> GOOD HEALTH  </b>

            </p>

             </mat-card-title> -->
              </mat-card>

     </div>

     <div class = "col-lg-4 col-md-6 col-sm-8 col-xs-8 ">
       <mat-card class="example-card">

       <!-- <h2 class="text-center" style="color:rgb(222, 79, 33)" font-style="italic">
         BALANCED HEALTH
     </h2> -->



         <img mat-card-image src="assets/img/Lotus_flower_(978659).jpg"  class="img" >
         <!-- <mat-card-title style="color:rgb(222, 79, 33)">
          <p class="text-center" >
            <b style="font-size:22px"> GOOD HEALTH  </b>

        </p>

         </mat-card-title> -->
          </mat-card>

 </div>

 <div class = "col-lg-4 col-md-6 col-sm-8 col-xs-6 ">
   <mat-card class="example-card">

   <!-- <h2 class="text-center" style="color:rgb(222, 79, 33)" font-style="italic">
     BALANCED HEALTH
 </h2> -->



     <img mat-card-image src="assets/img/Lotus_flower_(978659).jpg"  class="img" >
     <!-- <mat-card-title style="color:rgb(222, 79, 33)">
      <p class="text-center" >
        <b style="font-size:22px"> GOOD HEALTH  </b>

    </p>

     </mat-card-title> -->
      </mat-card>



</div>











      </div>
   </div>

 </div>

  </section>


<section id="intro3">
 <div class="container-fluid">
  <h1 class="text-uppercase text-center"> Contact Me </h1>
    <br>
    <div class="row" class="text-center">

      <h1> Email: sonia.calafiore@gmail.com </h1>
      <br>
      <h1> Phone No: 999999999 </h1>
      <br>


</div>

    </div>


  </section>


  <footer class="page-footer">

  <div class="text-center">
    <!-- <a class="nav-link" target="_blank" href="https://github.com/AnshulMahajan10" >
      Github</a> -->
    <!-- <a target="_blank" href="https://www.linkedin.com/in/anshul-mahajan-47404b113/">
      <img class="mr-sm-2" style="max-width:100px; margin-top: -7px;"
      src="assets/img/linkedin-logo1.png"></a> -->
  </div>

</footer>



</body>
</html>
